<html>
<head>
<style>
    input { font-family: Lucida Console; }
    body,td,h1,h2,h3 { font-family: Verdana; }
    button { font-family: Times New Roman; }
    #floater_error, #qstring_error { font-size: small; }
    #qstring {
        width: 100%;
    }
    #floater {
        width: 100%;
    }
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.js"></script>
<script>
    var QIKI_NUMBER_URL = "/qikinumber";

    $(document).ready(function() {

        $('#qstring').on('keyup keypress blur change', qstring_changed);

        $('#floater').on('keyup keypress blur change', floater_changed);

        $('#negate').click(function(evt) {
            do_some_math('#floater', function(x) {
                return -x;
            });
            floater_changed();
        });

        $('#plus_1').click(function(evt) {
            do_some_math('#floater', function(x) {
                return x + 1.0;
            });
            floater_changed();
        });

        $('#minus_1').click(function(evt) {
            do_some_math('#floater', function(x) {
                return x - 1.0;
            });
            floater_changed();
        });

        $('#mult_2').click(function(evt) {
            do_some_math('#floater', function(x) {
                return x * 2.0;
            });
            floater_changed();
        });

        $('#div_2').click(function(evt) {
            do_some_math('#floater', function(x) {
                return x / 2.0;
            });
            floater_changed();
        });

        $('#pi').click(function(evt) {
            do_some_math('#floater', function(x) {
                return 3.14159265358979323846264338327950288419716939937510582;
            });
            floater_changed();
        });

        $('#euler_e').click(function(evt) {
            do_some_math('#floater', function(x) {
                return 2.7182818284590452353602874713526624977572470936999595749;
            });
            floater_changed();
        });

    });

    function do_some_math(field_selector, some_math) {
        var sOld = $(field_selector).val();
        var fOld = parseFloat(sOld);
        var fNew = some_math(fOld);
        var sNew = fNew.toString();
        $(field_selector).val(sNew)
    }
    function qstring_changed() {
        qiki_number_server('qstring_to_float', function(response) {
            $('#floater')
                    .val(response.is_valid ? response.floater : '')
                    .css('background-color', 'white');
            $('#qstring').css('background-color', response.is_valid ? 'white' : '#FFCCCC');
            $('#qstring_error').html(response.error_message);
        });
    }

    function floater_changed() {
        qiki_number_server('float_to_qstring', function(response) {
            $('#qstring')
                    .val(response.is_valid ? response.qstring : '')
                    .css('background-color', 'white');
            $('#floater').css('background-color', response.is_valid ? 'white' : '#FFCCCC');
            $('#floater_error').html(response.error_message);
        });
    }

    function qiki_number_server(action, callback) {
        $.post(QIKI_NUMBER_URL, {
            'action': action,
            'qstring': $('#qstring').val(),
            'floater': $('#floater').val(),
            'csrfmiddlewaretoken': $.cookie('csrftoken'),
        }).done(function(response_body) {
            response_object = jQuery.parseJSON(response_body);
            callback(response_object)
        });
    }

</script>
</head>
<body>
<h1>test this is a test of a playground</h1>

Type a qstring: <input id="qstring" size="30" /> <span id="qstring_error"></span><br />
Type a number:  <input id="floater" size="30" /> <span id="floater_error"></span><br />
<button id="negate"  type="button">&minus;</button>
<button id="plus_1"  type="button">&plus;1</button>
<button id="minus_1" type="button">&minus;1</button>
<button id="mult_2"  type="button">&times;2</button>
<button id="div_2"   type="button">&divide;2</button>
<button id="pi"      type="button">&pi;</button>
<button id="euler_e" type="button"><i>e</i></button>

</body>
</html>
{# FIXME: number 1e111 bounces between 0qB0_01A9CBC59B83A3D0 and 0qB0_01A9CBC59B83A4 with focus changes. Pi has 3 qstrings. #}
{# TODO: support big integers, e.g. googol+1 #}