<html>
<head>
<title>qiki playground</title>
<style>
    input { font-family: Lucida Console, monospace; }
    body,td,h1,h2,h3 { font-family: Verdana, sans-serif; }
    button { font-family: Times New Roman, serif; }
    #floater_error, #qstring_error { font-size: small; }
    #qstring {
        width: 100%;
    }
    #floater {
        width: 100%;
    }
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.js"></script>
<script>
    var QIKI_AJAX_URL = "{{ QIKI_AJAX_URL }}";

    $(document).ready(function() {
        $('#csrftoken').val($.cookie('csrftoken'));
        qiki_server('qiki_list', function(response){
            $("#block").text(response.report);
        });
    })

    function qiki_server(action, callback) {
        $.post(QIKI_AJAX_URL, {
            'action': action,
            'csrfmiddlewaretoken': $.cookie('csrftoken'),
        }).done(function(response_body) {
            response_object = jQuery.parseJSON(response_body);
            callback(response_object);
        });
    }

</script>
<body>
<h1>qiki playground</h1>

<p>
    Ready for a conversation with you {{ name }}, {{ email }} ...
</p>

<p>
    {% load account %}

    {% user_display user %}

    <a href="/accounts/logout/" class="pull-right">Logout</a>
    {# The following don't work very well. #}
    {#    {% load socialaccount %}#}
    {##}
    {#    <a href="{% provider_login_url "google" openid="https://www.google.com/accounts/o8/id" next="/success/url/" %}">Google</a>#}
    {#    <a href="{% provider_login_url "facebook" %}">Facebook</a>#}
</p>

<p>
    [
    {% for s in django_site %}
    - {{ s.id }} - {{ s.domain }} -
    {% endfor %}
    ]
</p>
<pre id="block"></pre>

<div id="qikilist"></div>
<form action="{{ QIKI_AJAX_URL }}" method="post">
    <input type="hidden" name="action" value="comment">
    <input id="csrftoken" type="hidden" name="csrfmiddlewaretoken" value="tbd...">
    <input name="comment" />
    <input type="submit" />
</form>
</body>
</html>
