{% load playground_extras %}

{% spaceless %}
    <div class="word" data-idn="{{ idn_qstring }}">
        {% if show_idn %}
            <span class="idn" title="{{ idn_qstring }}">{{ idn }}.</span>
        {% endif %}
        <span class="sbj-x-{{ sbj_txt }}">
            <span class="sbj" title="{{ sbj_idn }}">{{ sbj_txt }}</span>
            <span class="sbj-x-vrb">&rarr;</span>
        </span>
        <span class="vrb-x-num-x-{{ vrb }}">
            <span class="vrb-num vrb-{{ vrb_txt }}">
                <span class="vrb vrb-{{ vrb_txt }}" title="{{ vrb_idn }}">{{ vrb_txt }}</span>
                {% if num != "1.0" and num != "1" %}
                    <span class="vrb-x-num">&times;</span>
                    <span class="num" title="{{ num_qstring }}">{{ num }}</span>
                {% endif %}
            </span>
            <span class="vrb-x-obj">&rarr;</span>
        </span>
        <span class="obj" title="{{ obj_idn }}">{{ obj_txt }}</span>
        {% if txt != "" %}
            <span class="txt txt-{{ is_a_what }}">{{ txt }}</span>
            {# TODO:  classes for entire define hierarchy, e.g. txt-user txt-agent txt-noun #}
        {% endif %}
{#        <span class="whn-time-code">{{ yyyy_mmdd_hhmm_ss_mmm }}</span>#}
        {% for x in jbo %}
            {% jbo_diagram x %}
        {% endfor %}
    </div>
{% endspaceless %}