{% load playground_extras %}

{% spaceless %}
    <div class="word {{ me_sbj }}" data-idn="{{ idn_qstring }}">
        {% if show_idn %}
            <span class="idn" title="{{ idn_qstring }}">{{ idn_rendered }}.</span>
        {% endif %}
        <span class="sbj-x-{{ word.sbj.txt }}">
            <span class="sbj" title="{{ sbj_idn }}">{{ word.sbj.txt }}</span>
            <span class="sbj-x-vrb">&rarr;</span>
        </span>
        <span class="vrb-x-num-x-{{ vrb }}">
            <span class="vrb-num vrb-{{ vrb_txt }}">
                <span class="vrb vrb-{{ vrb_txt }}" title="{{ vrb_idn }}">{{ vrb_txt }}</span>
                {% if num_rendered != "1" %}
                    <span class="vrb-x-num">&times;</span>
                    <span class="num" title="{{ num_qstring }}">{{ num_rendered }}</span>
                {% endif %}
            </span>
            <span class="vrb-x-obj">&rarr;</span>
        </span>
        <span class="obj" title="{{ obj_idn }}">{{ obj_txt }}</span>
        {% if txt != "" %}
            <span class="txt txt-{{ is_a_what }}">{{ txt }}</span>
            {# TODO:  classes for entire define hierarchy, e.g. txt-user txt-agent txt-noun #}
        {% endif %}
        <span class="whn-time-code">{{ yyyy_mmdd_hhmm_ss_mmm }}</span>
        <span class="qhistory">
            {% for x in jbo %}
                {% jbo_diagram x %}
            {% endfor %}
{#            {% for author in jbo_report %}#}
{#                {{ author }}#}
{#            {% endfor %}#}
        </span>
        {% for vrb, icon_entry in jbo_dict.items %}
            {% icon_diagram vrb icon_entry user_idn %}
        {% endfor %}
{#    TODO:  Extend the icons to a little "landing" pad for new icons to drop. #}
{#    Also provide a gear-icon that only appears when hovering.  (But not when drag-hoveribng.) #}
    </div>
{% endspaceless %}